<a href="https://colab.research.google.com/github/Chanunchida-May/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions

```python
def function(input_x):
  # do something with input_x to get output_y
  return output_y
  ```

$f_1(x)=x^2 + 75$

In [ ]:
def function_f1(x):
  a = x**2
  y = a + 75 
  return y
  
print('done!')

done!

In [ ]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.บอก phython ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร def function_name():ขาดไม่ได้

2.กำหนดตัวเเปรที่จะเป็น Input input ขาดได้

3.ส่วนประมวณผล do_something with Input to get Output (ขาดไม่ได้)

4.ส่วน Output `return` _Output_(ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [ ]:
def function_f1(x):
  a = x**2
  y = a + 75 
  return y

### ตัวอย่าง function ที่ไม่มี input

In [ ]:
def pi_v():
  y = 3.14159265359
  return y

In [ ]:
piv = pi_v()
circle_area_r2 = pi_v()*(2**2) #2**2 คือ เลข 2 ยกกำลัง 2
print(circle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [ ]:
def function_a():

SyntaxError: ignored

### ตัวอย่าง Function ที่ไม่มี output

In [ ]:
def print_name_id(name,id):
  
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
print_name_id('ชนัญชิดา','623020516-1')

ชื่อ ชนัญชิดา รหัสประจำตัว 623020516-1

In [ ]:
a = print_name_id('ชนัญชิดา','623020516-1')

ชื่อ ชนัญชิดา รหัสประจำตัว 623020516-1

In [ ]:
a

## ตัวอย่าง

In [ ]:
print('ชนัญชิดา',end='->')
print('623020516-1')

ชนัญชิดา->623020516-1

In [ ]:
print('ชนัญชิดา','623020516-1')

ชนัญชิดา 623020516-1

In [ ]:
print('ชนัญชิดา','623020516-1',sep='&')

ชนัญชิดา&623020516-1

## input ของ function เเบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()` มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id เเละไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น A

In [ ]:
print_grade('ชนัญชิดา','623020516-1','A')

ชื่อ ชนัญชิดา รหัสประจำตัว 623020516-1
ได้เกรด A

##Looping 

```  
for member in listEX:

    do_something()
```

In [27]:
for member in[1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [28]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [29]:
for name in ['ภิญญาดา','ณิชากร','ทอฝัน','กิตติมา','นฤมล','ชนัญชิดา']:
    N = name
    print_name(N)

ฉันชื่อ ภิญญาดา
ฉันชื่อ ณิชากร
ฉันชื่อ ทอฝัน
ฉันชื่อ กิตติมา
ฉันชื่อ นฤมล
ฉันชื่อ ชนัญชิดา

In [30]:
list_name_id_grade = [['ชนัญชิดา เมธีกุลมานิต','623020516-1','A'],['มูมูเตลู อุบ่ะ','623020516-1','A']]

In [31]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('----------------')

รหัสประจำตัว 623020516-1 ชื่อ ชนัญชิดา เมธีกุลมานิต
ได้เกรด A
----------------
รหัสประจำตัว 623020516-1 ชื่อ มูมูเตลู อุบ่ะ
ได้เกรด A
----------------

###ใช้ for loop เพิ่มสมาชิกใน list

In [32]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [33]:
list_name

['ชนัญชิดา เมธีกุลมานิต', 'มูมูเตลู อุบ่ะ']

###การวนลูปด้วย 
```
range()
```

In [34]:
for i in range(100):
    print('Lumos', end = ' ')

Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos Lumos

###Loop ซ้อน Loop

In [35]:
for mem1 in range(2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

## Conditional Statement(if)