<a href="https://colab.research.google.com/github/Chanunchida-May/data_viz_2022/blob/main/FinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#load data

In [260]:
import pandas as pd # import ฟังก์ชัน pandas

In [261]:
from google.colab import drive # package เชื่อม google  drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [262]:
import os # จัดการเกี่ยวกับไฟล์ต่างๆ ในโฟล์เดอร์

In [263]:
path = '/content/drive/My Drive/dataviz_2022' # ชี้ว่า data เราอยู่โฟล์เดอร์ไหน

In [264]:
data_file_path = os.path.join(path,'alldb.csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
data_alldb = pd.read_csv(data_file_path)

In [265]:
data_alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

##จัดการค่า missing data alldb

In [266]:
data_alldb.isnull().any() # เช็คค่า missing

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

In [267]:
data_db = data_alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','age','title']] #เลือกข้อคอลัมน์จาก data_alldb ที่ต้องการนำมาใช้ 
data_db

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [268]:
data_db.isnull().sum()

user            762
RowKey            1
date            554
phone             3
site             99
time            557
urine           253
ov              364
PartitionKey    185
age             542
title           444
dtype: int64

## user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [269]:
alldb_user= data_db[(data_db['user'].astype(str).str.isnumeric()) & (data_db['user'].str.len() == 5)] 
alldb_user

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

In [270]:
alldb_user.isnull().any()

user            False
RowKey          False
date             True
phone           False
site             True
time             True
urine            True
ov               True
PartitionKey     True
age              True
title            True
dtype: bool

In [271]:
set(alldb_user['user'])

{'69911',
 '77688',
 '23010',
 '42370',
 '09006',
 '44902',
 '05047',
 '67352',
 '05082',
 '65321',
 '00205',
 '14914',
 '01431',
 '91947',
 '50471',
 '14764',
 '46897',
 '00210',
 '31982',
 '18393',
 '36385',
 '99999',
 '39079',
 '01024',
 '67241',
 '77254',
 '88337',
 '03535',
 '00251',
 '78231',
 '86050',
 '74523',
 '96349',
 '68759',
 '24641',
 '26477',
 '26990',
 '63880',
 '85433',
 '42682',
 '10194',
 '72988',
 '49880',
 '17974',
 '19322',
 '05182',
 '87771',
 '66062',
 '76088',
 '80847',
 '97461',
 '53089',
 '02825',
 '00011',
 '05135',
 '32999',
 '52520',
 '34585',
 '00319',
 '87536',
 '68856',
 '00233',
 '00303',
 '00083',
 '70409',
 '61087',
 '00216',
 '75126',
 '00054',
 '84063',
 '00116',
 '34705',
 '25683',
 '93509',
 '77509',
 '41301',
 '70370',
 '65555',
 '00177',
 '73336',
 '50172',
 '46783',
 '55415',
 '00178',
 '60887',
 '00125',
 '81621',
 '61218',
 '02862',
 '54192',
 '29796',
 '32171',
 '77862',
 '12378',
 '61813',
 '95609',
 '46566',
 '55236',
 '22119',
 '01312',
 '18331',
 '89251',
 '00193',
 '87733',
 '00037',
 '00302',
 '56845',
 '08602',
 '26043',
 '12041',
 '45701',
 '16112',
 '51653',
 '00345',
 '42228',
 '31755',
 '89493',
 '30059',
 '51039',
 '79322',
 '84276',
 '87802',
 '11387',
 '00053',
 '22692',
 '50727',
 '00204',
 '18954',
 '59476',
 '72938',
 '10695',
 '22354',
 '73251',
 '00154',
 '80253',
 '94758',
 '00005',
 '14088',
 '42173',
 '15229',
 '00291',
 '70492',
 '14390',
 '16162',
 '43228',
 '51065',
 '35512',
 '00260',
 '63312',
 '23596',
 '74493',
 '14380',
 '00307',
 '32873',
 '91438',
 '14255',
 '28627',
 '01428',
 '99475',
 '71805',
 '00049',
 '10653',
 '01882',
 '27802',
 '64081',
 '11727',
 '69789',
 '06260',
 '06223',
 '48016',
 '00051',
 '09820',
 '63018',
 '59266',
 '63323',
 '74069',
 '00167',
 '00165',
 '78486',
 '53481',
 '00182',
 '04405',
 '59305',
 '65632',
 '25466',
 '53151',
 '10120',
 '65995',
 '00151',
 '21432',
 '32831',
 '22824',
 '02663',
 '28348',
 '37551',
 '95291',
 '17132',
 '00219',
 '24404',
 '00122',
 '15731',
 '44812',
 '52180',
 '65075',
 '67094',
 '15588',
 '00189',
 '18513',
 '94414',
 '24986',
 '00032',
 '34801',
 '01088',
 '55873',
 '46970',
 '14884',
 '00200',
 '90257',
 '04854',
 '00009',
 '87374',
 '01637',
 '31551',
 '84495',
 '77384',
 '35605',
 '28731',
 '00158',
 '93189',
 '50349',
 '30283',
 '84392',
 '09259',
 '55365',
 '08242',
 '12561',
 '34343',
 '46341',
 '26916',
 '13406',
 '25179',
 '39638',
 '28241',
 '81409',
 '00273',
 '19211',
 '22421',
 '00117',
 '38422',
 '17055',
 '40533',
 '11055',
 '00026',
 '17536',
 '84493',
 '95668',
 '94538',
 '04055',
 '03649',
 '53510',
 '80317',
 '08236',
 '56326',
 '65678',
 '89470',
 '92415',
 '18873',
 '80734',
 '74951',
 '72486',
 '23554',
 '95151',
 '01009',
 '90154',
 '00015',
 '45914',
 '48962',
 '23338',
 '86542',
 '34711',
 '73000',
 '67379',
 '76299',
 '14291',
 '68768',
 '05242',
 '89195',
 '33503',
 '28890',
 '51892',
 '36001',
 '00202',
 '00018',
 '00409',
 '90070',
 '00133',
 '21045',
 '19559',
 '47593',
 '51501',
 '19273',
 '19903',
 '00121',
 '34791',
 '00139',
 '10724',
 '00048',
 '28551',
 '50802',
 '00088',
 '37018',
 '99835',
 '66381',
 '44199',
 '53045',
 '80463',
 '70059',
 '64612',
 '26199',
 '92042',
 '00148',
 '58500',
 '00578',
 '00342',
 '79590',
 '17564',
 '95631',
 '70957',
 '50951',
 '08072',
 '11282',
 '64385',
 '32891',
 '02728',
 '81095',
 '52912',
 '56051',
 '46767',
 '38822',
 '75487',
 '82582',
 '22688',
 '00357',
 '37259',
 '91125',
 '51310',
 '38381',
 '63200',
 '81529',
 '95104',
 '22680',
 '23889',
 '11816',
 '00328',
 '00025',
 '76011',
 '00136',
 '26957',
 '68112',
 '06655',
 '00278',
 '00191',
 '14106',
 '00052',
 '00076',
 '31582',
 '00289',
 '00090',
 '06316',
 '24468',
 '46333',
 '46902',
 '96481',
 '00316',
 '13070',
 '61325',
 '19241',
 '88459',
 '52902',
 '62241',
 '00270',
 '37216',
 '95161',
 '26459',
 '49596',
 '00001',
 '59269',
 '20847',
 '80374',
 '85702',
 '25331',
 '72186',
 '14988',
 '43657',
 '06079',
 '16754',
 '47135',
 '00313',
 '52209',
 '01861',
 '67864',
 '65509',
 '60581',
 '61095',
 '28330',
 '66708',
 '25176',
 '28402',
 '04431',
 '84540',
 '97484',
 '39529',
 '98156',
 '45752',
 '11215',
 '00023',
 '05961',
 '97831',
 '26989',
 '03663',
 '00290',
 '49161',
 '00206',
 '63091',
 '19911',
 '10982',
 '99376',
 '65775',
 '98245',
 '96292',
 '45876',
 '10460',
 '24032',
 '50580',
 '00274',
 '32451',
 '31143',
 '12966',
 '05433',
 '44805',
 '19632',
 '56044',
 '56764',
 '25221',
 '45668',
 '50276',
 '92948',
 '18769',
 '84479',
 '70610',
 '00211',
 '00039',
 '47122',
 '98080',
 '16321',
 '50373',
 '48274',
 '05353',
 '55354',
 '33739',
 '47146',
 '05368',
 '00320',
 '67093',
 '26574',
 '99734',
 '11742',
 '91917',
 '03381',
 '00010',
 '02693',
 '29094',
 '84187',
 '05038',
 '36692',
 '81065',
 '47950',
 '71921',
 '43834',
 '00029',
 '02639',
 '73225',
 '09072',
 '77978',
 '29118',
 '00173',
 '16971',
 '26469',
 '37249',
 '33251',
 '49308',
 '02784',
 '71813',
 '01883',
 '61121',
 '00252',
 '31994',
 '65301',
 '93020',
 '74369',
 '06436',
 '00160',
 '05663',
 '71872',
 '53920',
 '26445',
 '00013',
 '29051',
 '63068',
 '98908',
 '00253',
 '00168',
 '17966',
 '85879',
 '05219',
 '62334',
 '20827',
 '00241',
 '26779',
 '12413',
 '97255',
 '00055',
 '75579',
 '71503',
 '32666',
 '12605',
 '14801',
 '00197',
 '88351',
 '26651',
 '93991',
 '00073',
 '10264',
 '78251',
 '44509',
 '79620',
 '45563',
 '02897',
 '30660',
 '33081',
 '17777',
 '40865',
 '01594',
 '26647',
 '02878',
 '33869',
 '00305',
 '22099',
 '08773',
 '15980',
 '79525',
 '69431',
 '12044',
 '47844',
 '00394',
 '65664',
 '94494',
 '58196',
 '94881',
 '33316',
 '03731',
 '09582',
 '01730',
 '50756',
 '36362',
 '90770',
 '04193',
 '49215',
 '62440',
 '73204',
 '31322',
 '46960',
 '74747',
 '57099',
 '61587',
 '73158',
 '94392',
 '62415',
 '94406',
 '08436',
 '05849',
 '02647',
 '73636',
 '54788',
 '32622',
 '49659',
 '19671',
 '84459',
 '37186',
 '27589',
 '55911',
 '47567',
 '42055',
 '42380',
 '31086',
 '54761',
 '54544',
 '47933',
 '39103',
 '00069',
 '96760',
 '00183',
 '50577',
 '20215',
 '74414',
 '87337',
 '19920',
 '81472',
 '03736',
 '38547',
 '29417',
 '03421',
 '05069',
 '01850',
 '45846',
 '58993',
 '79920',
 '16604',
 '70187',
 '63865',
 '17769',
 '48440',
 '79001',
 '85753',
 '28291',
 '25923',
 '00006',
 '27678',
 '00171',
 '29514',
 '37231',
 '89475',
 '52219',
 '53333',
 '32816',
 '37691',
 '49741',
 '47607',
 '26540',
 '73381',
 '16085',
 '35942',
 '55299',
 '76851',
 '45593',
 '96061',
 '22478',
 '02230',
 '58845',
 '66780',
 '00286',
 '78901',
 '63477',
 '00304',
 '63306',
 '92241',
 '45787',
 '39959',
 '00308',
 '86271',
 '72225',
 '02990',
 '08998',
 '00134',
 '14667',
 '22244',
 '02075',
 '94279',
 '00902',
 '05091',
 '85504',
 '59361',
 '88708',
 '51973',
 '70490',
 '39342',
 '10518',
 '76642',
 '00221',
 '96670',
 '03359',
 '84768',
 '71378',
 '26604',
 '66473',
 '62105',
 '34210',
 '02087',
 '14505',
 '38727',
 '77249',
 '45680',
 '80880',
 '16144',
 '76096',
 '92962',
 '19575',
 '99250',
 '41026',
 '25721',
 '00321',
 '11198',
 '12003',
 '28399',
 '30767',
 '52350',
 '00137',
 '98290',
 '95193',
 '31762',
 '82685',
 '00132',
 '88135',
 '64810',
 '61486',
 '02579',
 '98126',
 '61338',
 '19237',
 '83777',
 '23078',
 '97505',
 '36481',
 '13361',
 '59128',
 '67450',
 '37607',
 '45881',
 '00941',
 '64211',
 '16783',
 '26811',
 '00159',
 '03080',
 '52922',
 '57954',
 '87468',
 '16174',
 '63381',
 '43257',
 '45736',
 '00300',
 '60847',
 '04325',
 '77782',
 '11007',
 '99288',
 '00203',
 '00296',
 '55692',
 '03169',
 '59181',
 '89913',
 '82822',
 '17184',
 '94601',
 '83377',
 '09315',
 '34988',
 '05358',
 '93307',
 '38121',
 '03562',
 '74432',
 '32077',
 '83303',
 '67778',
 '94454',
 '74964',
 '11111',
 '00315',
 '00123',
 '40035',
 '29875',
 '00309',
 '17842',
 '94558',
 '73946',
 '90604',
 '83725',
 '79817',
 '70671',
 '89681',
 '19411',
 '83937',
 '62443',
 '85379',
 '16970',
 '55075',
 '30024',
 '67400',
 '36390',
 '60181',
 '00046',
 '00155',
 '00027',
 '45641',
 '10105',
 '00195',
 '21688',
 '51235',
 '72483',
 '10405',
 '08734',
 '09226',
 '19250',
 '71327',
 '00059',
 '00209',
 '00020',
 '23416',
 '07644',
 '25593',
 '25128',
 '73233',
 '80336',
 '37228',
 '29159',
 '21955',
 '78054',
 '63951',
 '20380',
 '92893',
 '00282',
 '01248',
 '00147',
 '19578',
 '33643',
 '64199',
 '92747',
 '22377',
 '63852',
 '98551',
 '33100',
 '28977',
 '45884',
 '39440',
 '25659',
 '03409',
 '37127',
 '54427',
 '95810',
 '89801',
 '26531',
 '15971',
 '54538',
 '77572',
 '89329',
 '90609',
 '59226',
 '74891',
 '00034',
 '65656',
 '52724',
 '00170',
 '46948',
 '59721',
 '05590',
 '25829',
 '00285',
 '07427',
 '96431',
 '51403',
 '76331',
 '00143',
 '15102',
 '00910',
 '04255',
 '44502',
 '00022',
 '37826',
 '34317',
 '26442',
 '96730',
 '65675',
 '00012',
 '69576',
 '65390',
 '60953',
 '19202',
 '00268',
 '73375',
 '71791',
 '09188',
 '03558',
 '70054',
 '40881',
 '16820',
 '19808',
 '94135',
 '55300',
 '45531',
 '37151',
 '15046',
 '52147',
 '49961',
 '12576',
 '66261',
 '39726',
 '77670',
 '97281',
 '18253',
 '40551',
 '62687',
 '61605',
 '02471',
 '00215',
 '38305',
 '51903',
 '00016',
 '94087',
 '02396',
 '38778',
 '38522',
 '86721',
 '48646',
 '77358',
 '59326',
 '20690',
 '02913',
 '88315',
 '00293',
 '58271',
 '53076',
 '14891',
 '32468',
 '81724',
 '85493',
 '00266',
 '99884',
 '54458',
 '39593',
 '95127',
 '05039',
 '37914',
 '49103',
 '44018',
 '01461',
 '00207',
 '67850',
 '86547',
 '10534',
 '11611',
 '42120',
 '57398',
 '47429',
 '88973',
 '26773',
 '35139',
 '00041',
 '05113',
 '03953',
 '86601',
 '76386',
 '00317',
 '17415',
 '83771',
 '00153',
 '39537',
 '00294',
 '95935',
 '75771',
 '18890',
 '62962',
 '16193',
 '50332',
 '27129',
 '50144',
 '90817',
 '76105',
 '02853',
 '63098',
 '54932',
 '55430',
 '02604',
 '49322',
 '00545',
 '02962',
 '86299',
 '48710',
 '32200',
 '14360',
 '86981',
 '83934',
 '20395',
 '00082',
 '04483',
 '00280',
 '18733',
 '00185',
 '00352',
 '87218',
 '97770',
 '90571',
 '92691',
 '89609',
 '00045',
 '00004',
 '00140',
 '65733',
 ...}

##site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [272]:
alldb_site= alldb_user[(data_db['site'].astype(str).str.isnumeric()) & (data_db['site'].str.len() == 5)] 
alldb_site

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [273]:
alldb_site.isnull().any()

user            False
RowKey          False
date             True
phone           False
site            False
time             True
urine            True
ov               True
PartitionKey     True
age              True
title            True
dtype: bool

In [274]:
set(alldb_site['site'])

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05369',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05438',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13377',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

##PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

In [275]:
alldb_PartitionKey= alldb_site[(data_db['PartitionKey'].astype(str).str.isnumeric()) & (data_db['PartitionKey'].str.len() == 5)] 
alldb_PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,47,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,41,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,55,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,66,นาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [276]:
alldb_PartitionKey.isnull().any()

user            False
RowKey          False
date             True
phone           False
site            False
time             True
urine            True
ov               True
PartitionKey    False
age              True
title            True
dtype: bool

In [277]:
set(alldb_PartitionKey['PartitionKey'])

{'00467',
 '00817',
 '01276',
 '06011',
 '00075',
 '09006',
 '03189',
 '00205',
 '02137',
 '01431',
 '04074',
 '00772',
 '05123',
 '01244',
 '00613',
 '05107',
 '05721',
 '02796',
 '00634',
 '01359',
 '02925',
 '03372',
 '09003',
 '00483',
 '05233',
 '01894',
 '00210',
 '02973',
 '03330',
 '01362',
 '01818',
 '05114',
 '01385',
 '01810',
 '02016',
 '05716',
 '00526',
 '02056',
 '01153',
 '05131',
 '08970',
 '01170',
 '00056',
 '04777',
 '99999',
 '02967',
 '06063',
 '01024',
 '01857',
 '00424',
 '00997',
 '02321',
 '05341',
 '06723',
 '03240',
 '08991',
 '00525',
 '03535',
 '00251',
 '01856',
 '04683',
 '01600',
 '10987',
 '00119',
 '01236',
 '01483',
 '00393',
 '03231',
 '03521',
 '08503',
 '03511',
 '00554',
 '03295',
 '02205',
 '03541',
 '10969',
 '04168',
 '01098',
 '00355',
 '02677',
 '03563',
 '01676',
 '00733',
 '02507',
 '03310',
 '01458',
 '03179',
 '05209',
 '06047',
 '01527',
 '01423',
 '00070',
 '02557',
 '00670',
 '02754',
 '03507',
 '02094',
 '03199',
 '08906',
 '01057',
 '01616',
 '01388',
 '03300',
 '00685',
 '00364',
 '00916',
 '02741',
 '00825',
 '05109',
 '02825',
 '05200',
 '00011',
 '00677',
 '01512',
 '08952',
 '06043',
 '04694',
 '08995',
 '00319',
 '02080',
 '01409',
 '05255',
 '01801',
 '00233',
 '00303',
 '00083',
 '06041',
 '00564',
 '00216',
 '01570',
 '01007',
 '02496',
 '03324',
 '03995',
 '00054',
 '00116',
 '01289',
 '04046',
 '00970',
 '00889',
 '01082',
 '03384',
 '05119',
 '01214',
 '00885',
 '01819',
 '00721',
 '01862',
 '00177',
 '02332',
 '00066',
 '00718',
 '01382',
 '00178',
 '03136',
 '01481',
 '00125',
 '00543',
 '01738',
 '04136',
 '02481',
 '04643',
 '00996',
 '08069',
 '02862',
 '03194',
 '00595',
 '02977',
 '02027',
 '08918',
 '01520',
 '00661',
 '00512',
 '00820',
 '01522',
 '00556',
 '01336',
 '00844',
 '01312',
 '01548',
 '06001',
 '01202',
 '03332',
 '00193',
 '08067',
 '04188',
 '04624',
 '03508',
 '03150',
 '03316',
 '03334',
 '03335',
 '03499',
 '00037',
 '01893',
 '01837',
 '00839',
 '00616',
 '00110',
 '00175',
 '02989',
 '05227',
 '04011',
 '04016',
 '01223',
 '02401',
 '02951',
 '00302',
 '00435',
 '02457',
 '02284',
 '00995',
 '01914',
 '05093',
 '00891',
 '00594',
 '00579',
 '02851',
 '01477',
 '00345',
 '03333',
 '03542',
 '01706',
 '00990',
 '09004',
 '03925',
 '00336',
 '01985',
 '08950',
 '02773',
 '00275',
 '03066',
 '01798',
 '01614',
 '01786',
 '01812',
 '01704',
 '01229',
 '00053',
 '00366',
 '01978',
 '02295',
 '00646',
 '00204',
 '01697',
 '02218',
 '01027',
 '01732',
 '00234',
 '08914',
 '00154',
 '00454',
 '02200',
 '02210',
 '02314',
 '00604',
 '05362',
 '00005',
 '00057',
 '00257',
 '09000',
 '01435',
 '01062',
 '01984',
 '01517',
 '00482',
 '01571',
 '00261',
 '00094',
 '00291',
 '03063',
 '01278',
 '03227',
 '00358',
 '02033',
 '10966',
 '02742',
 '01912',
 '00260',
 '03095',
 '03546',
 '00307',
 '02538',
 '00984',
 '04095',
 '00425',
 '01428',
 '03410',
 '01331',
 '04696',
 '00049',
 '01166',
 '05118',
 '01882',
 '01917',
 '00865',
 '03313',
 '03391',
 '04192',
 '02106',
 '01998',
 '02299',
 '02952',
 '05988',
 '00385',
 '04098',
 '01736',
 '04738',
 '01004',
 '01952',
 '00446',
 '00051',
 '01554',
 '02681',
 '00753',
 '01545',
 '04681',
 '03406',
 '02000',
 '01386',
 '00167',
 '03319',
 '00165',
 '02172',
 '04642',
 '00433',
 '04673',
 '01180',
 '06019',
 '00577',
 '01216',
 '02003',
 '02024',
 '00182',
 '01647',
 '05106',
 '05989',
 '03057',
 '03351',
 '08917',
 '09016',
 '02517',
 '00720',
 '01513',
 '02008',
 '02915',
 '01747',
 '01210',
 '01460',
 '00722',
 '02884',
 '00151',
 '01188',
 '02093',
 '00360',
 '04732',
 '06027',
 '05841',
 '01265',
 '08980',
 '08966',
 '02001',
 '00219',
 '00085',
 '00122',
 '00901',
 '01139',
 '05223',
 '00189',
 '00681',
 '03725',
 '01820',
 '00331',
 '06042',
 '00928',
 '00032',
 '01597',
 '01088',
 '02781',
 '01300',
 '01765',
 '05724',
 '08519',
 '00200',
 '00430',
 '01174',
 '02945',
 '01970',
 '00095',
 '00790',
 '00009',
 '00838',
 '01506',
 '02079',
 '00510',
 '01581',
 '05111',
 '05112',
 '01578',
 '02007',
 '08919',
 '01637',
 '03211',
 '01682',
 '01922',
 '01451',
 '01083',
 '01974',
 '00994',
 '01521',
 '00158',
 '02704',
 '01795',
 '01763',
 '01199',
 '01634',
 '06000',
 '00584',
 '00473',
 '03098',
 '03096',
 '00909',
 '01731',
 '01737',
 '01999',
 '00989',
 '00967',
 '02231',
 '03062',
 '01167',
 '00402',
 '01069',
 '05155',
 '10984',
 '05957',
 '02059',
 '02559',
 '00256',
 '01201',
 '02592',
 '02652',
 '08925',
 '00894',
 '03552',
 '00609',
 '01886',
 '01495',
 '00559',
 '00922',
 '02987',
 '00273',
 '05197',
 '00398',
 '06050',
 '02191',
 '04637',
 '03515',
 '11006',
 '00117',
 '04022',
 '01148',
 '00754',
 '00225',
 '00026',
 '00659',
 '00727',
 '02946',
 '05122',
 '02610',
 '00737',
 '01405',
 '00442',
 '10961',
 '01935',
 '02084',
 '00592',
 '01860',
 '01717',
 '01933',
 '02042',
 '02249',
 '05147',
 '00181',
 '00965',
 '04639',
 '01476',
 '05719',
 '08982',
 '02153',
 '00242',
 '04630',
 '05318',
 '02836',
 '01379',
 '06185',
 '02730',
 '02431',
 '01881',
 '00745',
 '03472',
 '01193',
 '01691',
 '02632',
 '08957',
 '02775',
 '01844',
 '04668',
 '00544',
 '06717',
 '01198',
 '01995',
 '01452',
 '01803',
 '06064',
 '01235',
 '01595',
 '08987',
 '02670',
 '00367',
 '03272',
 '00479',
 '01368',
 '08958',
 '01402',
 '01260',
 '01078',
 '02732',
 '03225',
 '01070',
 '04654',
 '00561',
 '00758',
 '04657',
 '01120',
 '02567',
 '01325',
 '01009',
 '00897',
 '03111',
 '01687',
 '02019',
 '00864',
 '00904',
 '00015',
 '02151',
 '00861',
 '02988',
 '00836',
 '01219',
 '00828',
 '01173',
 '02958',
 '00496',
 '03392',
 '00489',
 '01466',
 '02748',
 '05259',
 '01947',
 '05308',
 '01064',
 '02490',
 '01374',
 '02865',
 '03331',
 '00599',
 '01039',
 '00202',
 '00374',
 '00018',
 '01335',
 '80464',
 '02719',
 '01443',
 '02333',
 '00409',
 '02499',
 '00502',
 '00133',
 '00515',
 '02980',
 '02757',
 '00672',
 '05999',
 '00121',
 '01114',
 '02871',
 '04653',
 '01852',
 '08254',
 '01334',
 '03824',
 '03229',
 '01961',
 '00139',
 '00549',
 '01192',
 '01685',
 '08937',
 '03236',
 '01869',
 '00048',
 '02933',
 '02841',
 '01313',
 '01916',
 '02944',
 '00088',
 '00326',
 '00098',
 '04632',
 '02076',
 '00975',
 '05133',
 '00892',
 '03934',
 '08903',
 '09026',
 '03044',
 '00621',
 '00148',
 '01446',
 '04619',
 '00578',
 '01095',
 '04646',
 '00342',
 '01873',
 '02485',
 '01291',
 '03099',
 '04018',
 '03267',
 '01968',
 '00884',
 '01301',
 '02728',
 '00914',
 '02874',
 '00457',
 '02826',
 '01796',
 '00084',
 '01240',
 '03614',
 '04638',
 '05336',
 '05245',
 '05263',
 '08932',
 '03877',
 '00357',
 '02710',
 '01345',
 '05718',
 '05985',
 '03328',
 '01430',
 '01308',
 '04687',
 '01360',
 '02760',
 '02497',
 '02269',
 '00531',
 '00799',
 '00705',
 '02399',
 '01877',
 '00447',
 '00757',
 '02541',
 '00625',
 '01457',
 '03128',
 '10995',
 '00969',
 '01822',
 '03299',
 '02195',
 '00328',
 '02021',
 '00025',
 '01150',
 '00389',
 '00477',
 '03110',
 '00136',
 '02904',
 '01038',
 '02177',
 '04006',
 '01340',
 '00278',
 '00835',
 '01936',
 '01434',
 '06033',
 '10980',
 '00191',
 '01931',
 '10976',
 '01973',
 '00656',
 '02363',
 '02975',
 '03970',
 '00101',
 '01888',
 '04685',
 '03977',
 '00052',
 '02404',
 '00076',
 '05310',
 '03417',
 '06040',
 '08960',
 '00289',
 '01866',
 '02686',
 '00090',
 '00643',
 '01479',
 '01773',
 '08985',
 '00546',
 '01380',
 '00316',
 '02262',
 '01414',
 '00883',
 '02673',
 '02544',
 '02819',
 '00585',
 '08904',
 '01067',
 '00823',
 '02054',
 '05975',
 '00270',
 '04028',
 '01438',
 '01884',
 '02149',
 '02085',
 '03153',
 '03547',
 '01233',
 '01462',
 '00001',
 '01580',
 '02057',
 '00809',
 '02767',
 '03550',
 '00445',
 '00337',
 '01588',
 '03112',
 '01463',
 '03165',
 '04094',
 '02872',
 '00313',
 '02593',
 '00832',
 '00911',
 '01861',
 '03234',
 '99444',
 '02253',
 '03939',
 '02049',
 '02548',
 '02117',
 '00555',
 '01910',
 '11008',
 '03505',
 '00972',
 '00397',
 '01853',
 '02919',
 '06029',
 '02469',
 '04015',
 '00726',
 '05103',
 '01266',
 '03255',
 '01612',
 '04191',
 '01552',
 '00986',
 '01754',
 '02438',
 '08926',
 '00645',
 '02887',
 '00023',
 '00503',
 '00960',
 '02222',
 '00923',
 '05961',
 '01761',
 '03279',
 '01371',
 '01442',
 '02985',
 '03269',
 '06016',
 '00405',
 '00290',
 '00795',
 '00462',
 '00463',
 '02692',
 '00206',
 '00794',
 '05127',
 '02995',
 '02783',
 '01725',
 '01136',
 '01551',
 '10982',
 '02864',
 '02524',
 '00734',
 '01774',
 '04101',
 '00893',
 '01415',
 '01144',
 '00639',
 '01658',
 '00091',
 '00866',
 '02708',
 '01899',
 '02216',
 '00540',
 '00274',
 '01688',
 '00311',
 '00626',
 '05266',
 '00617',
 '00456',
 '03979',
 '00590',
 '05099',
 '02513',
 '00376',
 '02440',
 '03054',
 '00937',
 '01020',
 '00517',
 '01225',
 '01625',
 '00211',
 '01628',
 '01033',
 '00039',
 '00696',
 '03724',
 '01764',
 '01776',
 '09012',
 '03488',
 '00958',
 '03708',
 '08245',
 '01566',
 '01086',
 '01127',
 '00602',
 '02822',
 '01562',
 '00640',
 '01986',
 '00955',
 '01464',
 '03124',
 '00320',
 '00660',
 '01863',
 '03381',
 '00523',
 '00010',
 '05980',
 '00403',
 '02671',
 '09033',
 '04635',
 '00220',
 '00815',
 '02930',
 '02237',
 '01750',
 '02531',
 '04686',
 '01956',
 '05262',
 '00741',
 '03496',
 '03441',
 '08993',
 '72093',
 '02305',
 '01241',
 '00029',
 '00388',
 '02164',
 '01377',
 '02639',
 '03068',
 '03434',
 '01089',
 '01708',
 '00637',
 '04812',
 '00906',
 '01151',
 '01903',
 '02832',
 '00173',
 '01502',
 '02477',
 '08572',
 '01668',
 '89170',
 '02638',
 '00998',
 '01847',
 '00766',
 '02495',
 '00222',
 '06032',
 '08351',
 '04663',
 '02784',
 '01883',
 '06721',
 '04017',
 '00492',
 '06720',
 '00252',
 '00493',
 '01686',
 '01760',
 '02731',
 '01813',
 '01975',
 '09007',
 '01253',
 '01645',
 '00105',
 '02062',
 '00160',
 '00779',
 '02620',
 '02158',
 '01142',
 '03065',
 '05770',
 '01630',
 '01919',
 '00013',
 '01741',
 '02439',
 '04670',
 '00580',
 '02651',
 '02965',
 '11003',
 '00253',
 '00935',
 '00460',
 '00810',
 '00168',
 '00797',
 '00501',
 '01376',
 '02119',
 '02223',
 '01966',
 '06055',
 '09042',
 '00665',
 '01532',
 '01133',
 '05219',
 '08941',
 '00898',
 '01355',
 ...}

##เปลี่ยนประเภท เป็นตัวเลข

In [278]:
alldb_PartitionKey['user'] = alldb_PartitionKey['user'].astype(int)
alldb_PartitionKey['site'] = alldb_PartitionKey['site'].astype(int)
alldb_PartitionKey['PartitionKey'] = alldb_PartitionKey['PartitionKey'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

##date เป็น YYYY-MM-DD

In [279]:
alldb_PartitionKey['date']=pd.to_datetime(alldb_PartitionKey['date'], format='%Y-%m-%d')
alldb_PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1,47,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,1,41,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),3,1,55,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),3,1,66,นาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [280]:
alldb_PartitionKey.isnull().any()

user            False
RowKey          False
date             True
phone           False
site            False
time             True
urine            True
ov               True
PartitionKey    False
age              True
title            True
dtype: bool

##ตัดค่าว่าง แทนค่าว่าง

In [281]:
alldb_PartitionKey_d= alldb_PartitionKey.dropna() # drop ที่เป็นค่าว่าง ลบค่าว่าง
alldb_PartitionKey_d.shape  #ข้อมูลมันหายไปเยอะ

(37392, 11)

In [282]:
alldb_PartitionKey_fillna = alldb_PartitionKey.fillna(method='ffill') # เป็นการเติมที่แทนค่าว่าง โดยใช้วิธีการเติมข้อมูลตามแถวด้าบนของมัน (first fill)
alldb_PartitionKey_fillna.shape # check รูปร่าง ข้อมูลกลับมาเหมือนปกติแล้ว

(38382, 11)

In [283]:
alldb_PartitionKey_fillna.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
age              True
title            True
dtype: bool

In [284]:
set(alldb_PartitionKey_fillna['date'])

{Timestamp('2022-02-15 00:00:00'),
 Timestamp('2022-02-17 00:00:00'),
 Timestamp('2022-02-18 00:00:00'),
 Timestamp('2022-02-19 00:00:00'),
 Timestamp('2022-02-21 00:00:00'),
 Timestamp('2022-02-22 00:00:00'),
 Timestamp('2022-02-23 00:00:00'),
 Timestamp('2022-02-24 00:00:00'),
 Timestamp('2022-02-25 00:00:00'),
 Timestamp('2022-02-26 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-01 00:00:00'),
 Timestamp('2022-03-02 00:00:00'),
 Timestamp('2022-03-03 00:00:00'),
 Timestamp('2022-03-04 00:00:00'),
 Timestamp('2022-03-05 00:00:00'),
 Timestamp('2022-03-06 00:00:00'),
 Timestamp('2022-03-07 00:00:00'),
 Timestamp('2022-03-08 00:00:00'),
 Timestamp('2022-03-09 00:00:00'),
 Timestamp('2022-03-10 00:00:00'),
 Timestamp('2022-03-11 00:00:00'),
 Timestamp('2022-03-12 00:00:00'),
 Timestamp('2022-03-13 00:00:00'),
 Timestamp('2022-03-14 00:00:00'),
 Timestamp('2022-03-15 00:00:00'),
 Timestamp('2022-03-16 00:00:00'),
 Timestamp('2022-03-17 00:00:00'),
 Timestamp('2022-03-18 00:00:00'),
 Timestamp('2022-03-19 00:00:00'),
 Timestamp('2022-03-20 00:00:00'),
 Timestamp('2022-03-21 00:00:00'),
 Timestamp('2022-03-22 00:00:00'),
 Timestamp('2022-03-23 00:00:00'),
 Timestamp('2022-03-24 00:00:00'),
 Timestamp('2022-03-25 00:00:00'),
 Timestamp('2022-03-26 00:00:00'),
 Timestamp('2022-03-27 00:00:00'),
 Timestamp('2022-03-28 00:00:00'),
 Timestamp('2022-03-29 00:00:00'),
 Timestamp('2022-03-30 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-01 00:00:00'),
 Timestamp('2022-04-02 00:00:00'),
 Timestamp('2022-04-03 00:00:00'),
 Timestamp('2022-04-04 00:00:00'),
 Timestamp('2022-04-05 00:00:00')}

##time เป็น hh-mm-ss

In [285]:
alldb_PartitionKey_fillna['time']=pd.to_datetime(alldb_PartitionKey_fillna['time'], format='%H:%M:%S')
alldb_PartitionKey_fillna

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,1900-01-01 16:31:45,ปกติ (เหลืองใส),0,0,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,1900-01-01 14:46:08,ปกติ (เหลืองใส),4,1,47,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,1900-01-01 15:27:45,ปกติ (เหลืองใส),4,1,41,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,1900-01-01 10:16:46,ปกติ (เหลืองใส),3,1,55,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,1900-01-01 12:26:38,ปกติ (เหลืองใส),3,1,66,นาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,1900-01-01 11:36:34,ขุ่น,1,99999,36,นาย
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 18:10:29,มีตะกอน,0,99999,36,นาย
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,36,นาย
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:58:01,ปกติ (เหลืองใส),1,99999,36,นาย
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:57:58,ปกติ (เหลืองใส),1,99999,36,นาย

In [286]:
set(alldb_PartitionKey_fillna['time'])

{Timestamp('1900-01-01 14:15:31'),
 Timestamp('1900-01-01 13:24:26'),
 Timestamp('1900-01-01 10:27:43'),
 Timestamp('1900-01-01 09:59:16'),
 Timestamp('1900-01-01 13:40:40'),
 Timestamp('1900-01-01 14:45:16'),
 Timestamp('1900-01-01 12:01:51'),
 Timestamp('1900-01-01 11:19:27'),
 Timestamp('1900-01-01 11:55:43'),
 Timestamp('1900-01-01 12:31:39'),
 Timestamp('1900-01-01 10:37:50'),
 Timestamp('1900-01-01 12:34:03'),
 Timestamp('1900-01-01 12:00:38'),
 Timestamp('1900-01-01 09:34:47'),
 Timestamp('1900-01-01 15:38:59'),
 Timestamp('1900-01-01 17:21:00'),
 Timestamp('1900-01-01 11:01:04'),
 Timestamp('1900-01-01 10:53:22'),
 Timestamp('1900-01-01 18:42:29'),
 Timestamp('1900-01-01 09:32:18'),
 Timestamp('1900-01-01 09:41:57'),
 Timestamp('1900-01-01 15:23:02'),
 Timestamp('1900-01-01 10:55:58'),
 Timestamp('1900-01-01 11:56:51'),
 Timestamp('1900-01-01 13:30:33'),
 Timestamp('1900-01-01 12:23:46'),
 Timestamp('1900-01-01 16:58:19'),
 Timestamp('1900-01-01 10:54:50'),
 Timestamp('1900-01-01 12:12:17'),
 Timestamp('1900-01-01 10:18:50'),
 Timestamp('1900-01-01 12:09:05'),
 Timestamp('1900-01-01 09:47:51'),
 Timestamp('1900-01-01 13:57:34'),
 Timestamp('1900-01-01 22:33:45'),
 Timestamp('1900-01-01 13:44:24'),
 Timestamp('1900-01-01 10:21:51'),
 Timestamp('1900-01-01 11:39:47'),
 Timestamp('1900-01-01 16:13:52'),
 Timestamp('1900-01-01 10:15:24'),
 Timestamp('1900-01-01 12:52:59'),
 Timestamp('1900-01-01 13:06:47'),
 Timestamp('1900-01-01 09:46:58'),
 Timestamp('1900-01-01 19:13:52'),
 Timestamp('1900-01-01 15:02:24'),
 Timestamp('1900-01-01 10:00:12'),
 Timestamp('1900-01-01 09:48:01'),
 Timestamp('1900-01-01 12:10:42'),
 Timestamp('1900-01-01 11:14:16'),
 Timestamp('1900-01-01 15:50:42'),
 Timestamp('1900-01-01 11:06:53'),
 Timestamp('1900-01-01 09:59:13'),
 Timestamp('1900-01-01 09:46:00'),
 Timestamp('1900-01-01 16:16:14'),
 Timestamp('1900-01-01 16:49:46'),
 Timestamp('1900-01-01 13:53:25'),
 Timestamp('1900-01-01 11:11:33'),
 Timestamp('1900-01-01 15:20:46'),
 Timestamp('1900-01-01 14:24:03'),
 Timestamp('1900-01-01 13:22:50'),
 Timestamp('1900-01-01 15:27:25'),
 Timestamp('1900-01-01 14:42:58'),
 Timestamp('1900-01-01 19:28:24'),
 Timestamp('1900-01-01 12:21:43'),
 Timestamp('1900-01-01 16:39:18'),
 Timestamp('1900-01-01 10:37:04'),
 Timestamp('1900-01-01 15:38:17'),
 Timestamp('1900-01-01 10:10:02'),
 Timestamp('1900-01-01 12:54:23'),
 Timestamp('1900-01-01 15:03:39'),
 Timestamp('1900-01-01 16:00:09'),
 Timestamp('1900-01-01 15:34:42'),
 Timestamp('1900-01-01 12:38:16'),
 Timestamp('1900-01-01 10:21:11'),
 Timestamp('1900-01-01 11:31:30'),
 Timestamp('1900-01-01 15:52:48'),
 Timestamp('1900-01-01 21:46:52'),
 Timestamp('1900-01-01 14:00:46'),
 Timestamp('1900-01-01 14:18:09'),
 Timestamp('1900-01-01 15:02:51'),
 Timestamp('1900-01-01 18:08:42'),
 Timestamp('1900-01-01 13:38:50'),
 Timestamp('1900-01-01 15:10:56'),
 Timestamp('1900-01-01 09:22:59'),
 Timestamp('1900-01-01 11:59:16'),
 Timestamp('1900-01-01 09:43:47'),
 Timestamp('1900-01-01 11:39:52'),
 Timestamp('1900-01-01 14:26:24'),
 Timestamp('1900-01-01 13:50:50'),
 Timestamp('1900-01-01 15:51:33'),
 Timestamp('1900-01-01 15:12:43'),
 Timestamp('1900-01-01 15:39:49'),
 Timestamp('1900-01-01 17:57:55'),
 Timestamp('1900-01-01 16:17:19'),
 Timestamp('1900-01-01 13:58:08'),
 Timestamp('1900-01-01 14:10:53'),
 Timestamp('1900-01-01 11:42:46'),
 Timestamp('1900-01-01 14:07:30'),
 Timestamp('1900-01-01 14:16:37'),
 Timestamp('1900-01-01 14:13:53'),
 Timestamp('1900-01-01 19:27:21'),
 Timestamp('1900-01-01 15:26:31'),
 Timestamp('1900-01-01 12:31:27'),
 Timestamp('1900-01-01 11:19:43'),
 Timestamp('1900-01-01 10:01:40'),
 Timestamp('1900-01-01 11:48:49'),
 Timestamp('1900-01-01 09:59:43'),
 Timestamp('1900-01-01 14:31:24'),
 Timestamp('1900-01-01 09:42:30'),
 Timestamp('1900-01-01 11:14:47'),
 Timestamp('1900-01-01 10:28:40'),
 Timestamp('1900-01-01 15:46:24'),
 Timestamp('1900-01-01 07:36:22'),
 Timestamp('1900-01-01 12:38:30'),
 Timestamp('1900-01-01 16:14:20'),
 Timestamp('1900-01-01 11:13:44'),
 Timestamp('1900-01-01 11:18:05'),
 Timestamp('1900-01-01 11:26:23'),
 Timestamp('1900-01-01 14:12:36'),
 Timestamp('1900-01-01 11:38:28'),
 Timestamp('1900-01-01 13:18:42'),
 Timestamp('1900-01-01 09:01:44'),
 Timestamp('1900-01-01 12:20:01'),
 Timestamp('1900-01-01 11:01:35'),
 Timestamp('1900-01-01 11:34:07'),
 Timestamp('1900-01-01 17:44:20'),
 Timestamp('1900-01-01 16:27:56'),
 Timestamp('1900-01-01 09:57:58'),
 Timestamp('1900-01-01 13:08:29'),
 Timestamp('1900-01-01 12:16:15'),
 Timestamp('1900-01-01 11:01:02'),
 Timestamp('1900-01-01 16:47:53'),
 Timestamp('1900-01-01 23:24:12'),
 Timestamp('1900-01-01 11:07:21'),
 Timestamp('1900-01-01 11:21:53'),
 Timestamp('1900-01-01 12:44:13'),
 Timestamp('1900-01-01 17:08:21'),
 Timestamp('1900-01-01 14:32:02'),
 Timestamp('1900-01-01 11:44:00'),
 Timestamp('1900-01-01 11:05:18'),
 Timestamp('1900-01-01 11:29:25'),
 Timestamp('1900-01-01 22:42:07'),
 Timestamp('1900-01-01 10:14:16'),
 Timestamp('1900-01-01 12:58:23'),
 Timestamp('1900-01-01 09:55:51'),
 Timestamp('1900-01-01 15:09:18'),
 Timestamp('1900-01-01 15:59:27'),
 Timestamp('1900-01-01 14:49:35'),
 Timestamp('1900-01-01 11:04:51'),
 Timestamp('1900-01-01 13:35:39'),
 Timestamp('1900-01-01 14:17:25'),
 Timestamp('1900-01-01 09:31:08'),
 Timestamp('1900-01-01 13:25:18'),
 Timestamp('1900-01-01 14:07:48'),
 Timestamp('1900-01-01 17:07:58'),
 Timestamp('1900-01-01 15:28:14'),
 Timestamp('1900-01-01 12:05:19'),
 Timestamp('1900-01-01 16:54:18'),
 Timestamp('1900-01-01 14:55:18'),
 Timestamp('1900-01-01 13:27:45'),
 Timestamp('1900-01-01 11:46:53'),
 Timestamp('1900-01-01 11:14:00'),
 Timestamp('1900-01-01 15:15:36'),
 Timestamp('1900-01-01 16:15:37'),
 Timestamp('1900-01-01 11:24:48'),
 Timestamp('1900-01-01 15:14:46'),
 Timestamp('1900-01-01 15:16:21'),
 Timestamp('1900-01-01 10:54:48'),
 Timestamp('1900-01-01 11:16:17'),
 Timestamp('1900-01-01 12:39:37'),
 Timestamp('1900-01-01 12:37:58'),
 Timestamp('1900-01-01 19:37:52'),
 Timestamp('1900-01-01 17:20:53'),
 Timestamp('1900-01-01 10:44:45'),
 Timestamp('1900-01-01 10:21:12'),
 Timestamp('1900-01-01 13:28:11'),
 Timestamp('1900-01-01 11:08:39'),
 Timestamp('1900-01-01 17:54:40'),
 Timestamp('1900-01-01 10:59:45'),
 Timestamp('1900-01-01 11:36:37'),
 Timestamp('1900-01-01 12:59:38'),
 Timestamp('1900-01-01 16:50:23'),
 Timestamp('1900-01-01 13:00:19'),
 Timestamp('1900-01-01 17:04:45'),
 Timestamp('1900-01-01 11:37:21'),
 Timestamp('1900-01-01 12:13:05'),
 Timestamp('1900-01-01 19:24:22'),
 Timestamp('1900-01-01 12:02:45'),
 Timestamp('1900-01-01 14:10:44'),
 Timestamp('1900-01-01 15:17:17'),
 Timestamp('1900-01-01 12:20:10'),
 Timestamp('1900-01-01 10:06:29'),
 Timestamp('1900-01-01 15:44:11'),
 Timestamp('1900-01-01 11:12:26'),
 Timestamp('1900-01-01 11:26:52'),
 Timestamp('1900-01-01 17:08:52'),
 Timestamp('1900-01-01 16:06:05'),
 Timestamp('1900-01-01 17:33:57'),
 Timestamp('1900-01-01 09:48:14'),
 Timestamp('1900-01-01 10:08:07'),
 Timestamp('1900-01-01 17:14:16'),
 Timestamp('1900-01-01 10:40:35'),
 Timestamp('1900-01-01 11:10:43'),
 Timestamp('1900-01-01 09:49:24'),
 Timestamp('1900-01-01 12:01:25'),
 Timestamp('1900-01-01 15:27:19'),
 Timestamp('1900-01-01 14:58:41'),
 Timestamp('1900-01-01 15:04:15'),
 Timestamp('1900-01-01 16:21:10'),
 Timestamp('1900-01-01 14:02:46'),
 Timestamp('1900-01-01 21:39:21'),
 Timestamp('1900-01-01 11:24:58'),
 Timestamp('1900-01-01 15:33:57'),
 Timestamp('1900-01-01 16:07:53'),
 Timestamp('1900-01-01 09:40:21'),
 Timestamp('1900-01-01 16:08:25'),
 Timestamp('1900-01-01 22:33:49'),
 Timestamp('1900-01-01 11:52:23'),
 Timestamp('1900-01-01 11:03:03'),
 Timestamp('1900-01-01 12:10:45'),
 Timestamp('1900-01-01 15:40:15'),
 Timestamp('1900-01-01 13:39:15'),
 Timestamp('1900-01-01 14:38:56'),
 Timestamp('1900-01-01 11:39:23'),
 Timestamp('1900-01-01 10:59:22'),
 Timestamp('1900-01-01 12:42:03'),
 Timestamp('1900-01-01 11:02:39'),
 Timestamp('1900-01-01 10:50:06'),
 Timestamp('1900-01-01 14:32:59'),
 Timestamp('1900-01-01 13:23:53'),
 Timestamp('1900-01-01 17:22:41'),
 Timestamp('1900-01-01 08:22:47'),
 Timestamp('1900-01-01 11:40:57'),
 Timestamp('1900-01-01 18:36:34'),
 Timestamp('1900-01-01 14:27:57'),
 Timestamp('1900-01-01 12:13:43'),
 Timestamp('1900-01-01 09:30:26'),
 Timestamp('1900-01-01 17:48:13'),
 Timestamp('1900-01-01 12:33:51'),
 Timestamp('1900-01-01 15:54:12'),
 Timestamp('1900-01-01 09:44:57'),
 Timestamp('1900-01-01 15:50:17'),
 Timestamp('1900-01-01 11:56:06'),
 Timestamp('1900-01-01 08:07:54'),
 Timestamp('1900-01-01 12:27:21'),
 Timestamp('1900-01-01 12:06:30'),
 Timestamp('1900-01-01 10:15:44'),
 Timestamp('1900-01-01 13:21:06'),
 Timestamp('1900-01-01 14:01:34'),
 Timestamp('1900-01-01 20:30:30'),
 Timestamp('1900-01-01 22:15:28'),
 Timestamp('1900-01-01 16:52:37'),
 Timestamp('1900-01-01 08:59:43'),
 Timestamp('1900-01-01 12:57:37'),
 Timestamp('1900-01-01 12:44:34'),
 Timestamp('1900-01-01 14:41:35'),
 Timestamp('1900-01-01 15:22:56'),
 Timestamp('1900-01-01 16:10:58'),
 Timestamp('1900-01-01 12:43:50'),
 Timestamp('1900-01-01 11:13:17'),
 Timestamp('1900-01-01 14:38:55'),
 Timestamp('1900-01-01 16:45:59'),
 Timestamp('1900-01-01 18:23:01'),
 Timestamp('1900-01-01 11:23:51'),
 Timestamp('1900-01-01 15:49:59'),
 Timestamp('1900-01-01 18:30:22'),
 Timestamp('1900-01-01 12:59:25'),
 Timestamp('1900-01-01 12:50:24'),
 Timestamp('1900-01-01 21:50:18'),
 Timestamp('1900-01-01 11:48:54'),
 Timestamp('1900-01-01 11:33:53'),
 Timestamp('1900-01-01 11:22:30'),
 Timestamp('1900-01-01 11:09:27'),
 Timestamp('1900-01-01 11:23:28'),
 Timestamp('1900-01-01 10:34:49'),
 Timestamp('1900-01-01 09:40:00'),
 Timestamp('1900-01-01 11:37:17'),
 Timestamp('1900-01-01 14:19:28'),
 Timestamp('1900-01-01 11:16:45'),
 Timestamp('1900-01-01 11:01:49'),
 Timestamp('1900-01-01 08:09:35'),
 Timestamp('1900-01-01 17:47:51'),
 Timestamp('1900-01-01 11:51:38'),
 Timestamp('1900-01-01 11:20:58'),
 Timestamp('1900-01-01 11:14:36'),
 Timestamp('1900-01-01 21:38:53'),
 Timestamp('1900-01-01 08:52:04'),
 Timestamp('1900-01-01 14:40:51'),
 Timestamp('1900-01-01 09:17:39'),
 Timestamp('1900-01-01 11:23:14'),
 Timestamp('1900-01-01 16:29:53'),
 Timestamp('1900-01-01 10:40:04'),
 Timestamp('1900-01-01 14:51:33'),
 Timestamp('1900-01-01 09:32:47'),
 Timestamp('1900-01-01 12:10:00'),
 Timestamp('1900-01-01 10:34:36'),
 Timestamp('1900-01-01 13:41:24'),
 Timestamp('1900-01-01 11:01:03'),
 Timestamp('1900-01-01 17:25:10'),
 Timestamp('1900-01-01 15:44:01'),
 Timestamp('1900-01-01 14:21:54'),
 Timestamp('1900-01-01 10:44:05'),
 Timestamp('1900-01-01 14:30:35'),
 Timestamp('1900-01-01 15:55:40'),
 Timestamp('1900-01-01 11:01:51'),
 Timestamp('1900-01-01 16:48:42'),
 Timestamp('1900-01-01 12:08:10'),
 Timestamp('1900-01-01 13:33:01'),
 Timestamp('1900-01-01 10:21:23'),
 Timestamp('1900-01-01 15:04:20'),
 Timestamp('1900-01-01 17:04:57'),
 Timestamp('1900-01-01 14:34:40'),
 Timestamp('1900-01-01 11:58:33'),
 Timestamp('1900-01-01 19:19:39'),
 Timestamp('1900-01-01 15:20:42'),
 Timestamp('1900-01-01 12:29:44'),
 Timestamp('1900-01-01 16:56:29'),
 Timestamp('1900-01-01 12:05:18'),
 Timestamp('1900-01-01 11:26:59'),
 Timestamp('1900-01-01 10:25:18'),
 Timestamp('1900-01-01 10:39:26'),
 Timestamp('1900-01-01 14:22:02'),
 Timestamp('1900-01-01 09:33:17'),
 Timestamp('1900-01-01 11:30:20'),
 Timestamp('1900-01-01 12:16:50'),
 Timestamp('1900-01-01 11:02:13'),
 Timestamp('1900-01-01 15:09:49'),
 Timestamp('1900-01-01 10:48:38'),
 Timestamp('1900-01-01 10:46:30'),
 Timestamp('1900-01-01 15:21:32'),
 Timestamp('1900-01-01 11:48:51'),
 Timestamp('1900-01-01 15:16:04'),
 Timestamp('1900-01-01 10:55:49'),
 Timestamp('1900-01-01 16:07:01'),
 Timestamp('1900-01-01 09:30:57'),
 Timestamp('1900-01-01 09:15:34'),
 Timestamp('1900-01-01 12:45:21'),
 Timestamp('1900-01-01 11:02:53'),
 Timestamp('1900-01-01 10:24:06'),
 Timestamp('1900-01-01 12:29:42'),
 Timestamp('1900-01-01 13:52:40'),
 Timestamp('1900-01-01 11:29:12'),
 Timestamp('1900-01-01 09:29:30'),
 Timestamp('1900-01-01 11:28:58'),
 Timestamp('1900-01-01 12:24:19'),
 Timestamp('1900-01-01 14:33:59'),
 Timestamp('1900-01-01 10:14:36'),
 Timestamp('1900-01-01 15:01:43'),
 Timestamp('1900-01-01 10:03:12'),
 Timestamp('1900-01-01 11:22:54'),
 Timestamp('1900-01-01 11:19:00'),
 Timestamp('1900-01-01 16:55:11'),
 Timestamp('1900-01-01 14:14:29'),
 Timestamp('1900-01-01 11:26:39'),
 Timestamp('1900-01-01 09:48:00'),
 Timestamp('1900-01-01 09:08:31'),
 Timestamp('1900-01-01 13:03:36'),
 Timestamp('1900-01-01 12:17:07'),
 Timestamp('1900-01-01 17:54:09'),
 Timestamp('1900-01-01 10:41:36'),
 Timestamp('1900-01-01 16:48:05'),
 Timestamp('1900-01-01 17:32:48'),
 Timestamp('1900-01-01 11:55:32'),
 Timestamp('1900-01-01 09:32:52'),
 Timestamp('1900-01-01 18:29:17'),
 Timestamp('1900-01-01 16:06:20'),
 Timestamp('1900-01-01 10:14:29'),
 Timestamp('1900-01-01 16:51:51'),
 Timestamp('1900-01-01 09:37:38'),
 Timestamp('1900-01-01 08:48:47'),
 Timestamp('1900-01-01 11:23:08'),
 Timestamp('1900-01-01 17:15:27'),
 Timestamp('1900-01-01 14:22:28'),
 Timestamp('1900-01-01 15:12:13'),
 Timestamp('1900-01-01 13:15:25'),
 Timestamp('1900-01-01 10:21:31'),
 Timestamp('1900-01-01 10:20:04'),
 Timestamp('1900-01-01 09:37:21'),
 Timestamp('1900-01-01 12:04:24'),
 Timestamp('1900-01-01 11:48:19'),
 Timestamp('1900-01-01 09:49:12'),
 Timestamp('1900-01-01 12:19:08'),
 Timestamp('1900-01-01 10:54:13'),
 Timestamp('1900-01-01 17:00:50'),
 Timestamp('1900-01-01 10:38:51'),
 Timestamp('1900-01-01 17:34:25'),
 Timestamp('1900-01-01 15:32:54'),
 Timestamp('1900-01-01 10:19:11'),
 Timestamp('1900-01-01 11:15:10'),
 Timestamp('1900-01-01 14:46:39'),
 Timestamp('1900-01-01 09:00:07'),
 Timestamp('1900-01-01 16:22:41'),
 Timestamp('1900-01-01 10:46:40'),
 Timestamp('1900-01-01 10:05:14'),
 Timestamp('1900-01-01 16:27:58'),
 Timestamp('1900-01-01 13:30:23'),
 Timestamp('1900-01-01 11:05:56'),
 Timestamp('1900-01-01 14:00:23'),
 Timestamp('1900-01-01 16:24:56'),
 Timestamp('1900-01-01 11:53:56'),
 Timestamp('1900-01-01 15:56:40'),
 Timestamp('1900-01-01 09:22:54'),
 Timestamp('1900-01-01 11:14:05'),
 Timestamp('1900-01-01 10:51:13'),
 Timestamp('1900-01-01 11:25:42'),
 Timestamp('1900-01-01 15:37:20'),
 Timestamp('1900-01-01 18:03:21'),
 Timestamp('1900-01-01 10:38:28'),
 Timestamp('1900-01-01 18:52:45'),
 Timestamp('1900-01-01 11:23:56'),
 Timestamp('1900-01-01 10:50:45'),
 Timestamp('1900-01-01 13:36:53'),
 Timestamp('1900-01-01 19:45:24'),
 Timestamp('1900-01-01 18:00:00'),
 Timestamp('1900-01-01 13:08:53'),
 Timestamp('1900-01-01 11:35:43'),
 Timestamp('1900-01-01 10:32:47'),
 Timestamp('1900-01-01 15:43:10'),
 Timestamp('1900-01-01 11:32:34'),
 Timestamp('1900-01-01 11:06:56'),
 Timestamp('1900-01-01 10:12:09'),
 Timestamp('1900-01-01 13:17:38'),
 Timestamp('1900-01-01 17:10:57'),
 Timestamp('1900-01-01 21:54:56'),
 Timestamp('1900-01-01 15:41:36'),
 Timestamp('1900-01-01 17:31:57'),
 Timestamp('1900-01-01 11:50:19'),
 Timestamp('1900-01-01 10:34:08'),
 Timestamp('1900-01-01 11:38:26'),
 Timestamp('1900-01-01 14:05:55'),
 Timestamp('1900-01-01 10:09:31'),
 Timestamp('1900-01-01 13:29:49'),
 Timestamp('1900-01-01 11:20:30'),
 Timestamp('1900-01-01 12:36:52'),
 Timestamp('1900-01-01 12:40:22'),
 Timestamp('1900-01-01 11:45:18'),
 Timestamp('1900-01-01 09:06:27'),
 Timestamp('1900-01-01 09:43:16'),
 Timestamp('1900-01-01 09:45:53'),
 Timestamp('1900-01-01 14:48:19'),
 Timestamp('1900-01-01 13:37:26'),
 Timestamp('1900-01-01 09:36:24'),
 Timestamp('1900-01-01 13:54:19'),
 Timestamp('1900-01-01 10:29:38'),
 Timestamp('1900-01-01 14:30:43'),
 Timestamp('1900-01-01 15:13:46'),
 Timestamp('1900-01-01 12:00:40'),
 Timestamp('1900-01-01 10:14:06'),
 Timestamp('1900-01-01 16:25:26'),
 Timestamp('1900-01-01 10:12:07'),
 Timestamp('1900-01-01 15:33:16'),
 Timestamp('1900-01-01 11:03:37'),
 Timestamp('1900-01-01 14:23:35'),
 Timestamp('1900-01-01 09:52:00'),
 Timestamp('1900-01-01 14:48:06'),
 Timestamp('1900-01-01 10:20:57'),
 Timestamp('1900-01-01 14:26:56'),
 Timestamp('1900-01-01 10:42:28'),
 Timestamp('1900-01-01 19:55:21'),
 Timestamp('1900-01-01 09:16:11'),
 Timestamp('1900-01-01 11:11:47'),
 Timestamp('1900-01-01 16:52:11'),
 Timestamp('1900-01-01 10:57:17'),
 Timestamp('1900-01-01 13:02:32'),
 Timestamp('1900-01-01 10:55:02'),
 Timestamp('1900-01-01 14:39:28'),
 Timestamp('1900-01-01 16:30:00'),
 Timestamp('1900-01-01 12:49:24'),
 Timestamp('1900-01-01 11:12:02'),
 Timestamp('1900-01-01 11:53:15'),
 Timestamp('1900-01-01 16:01:28'),
 Timestamp('1900-01-01 11:04:45'),
 Timestamp('1900-01-01 12:25:03'),
 Timestamp('1900-01-01 14:47:04'),
 Timestamp('1900-01-01 15:21:04'),
 Timestamp('1900-01-01 15:10:07'),
 Timestamp('1900-01-01 11:01:19'),
 Timestamp('1900-01-01 16:28:06'),
 Timestamp('1900-01-01 12:20:19'),
 Timestamp('1900-01-01 14:03:09'),
 Timestamp('1900-01-01 19:50:23'),
 Timestamp('1900-01-01 17:41:42'),
 Timestamp('1900-01-01 15:24:43'),
 Timestamp('1900-01-01 16:33:32'),
 Timestamp('1900-01-01 15:08:24'),
 Timestamp('1900-01-01 10:03:58'),
 Timestamp('1900-01-01 16:29:22'),
 Timestamp('1900-01-01 15:19:11'),
 Timestamp('1900-01-01 15:48:54'),
 Timestamp('1900-01-01 16:48:24'),
 Timestamp('1900-01-01 09:51:19'),
 Timestamp('1900-01-01 09:31:30'),
 Timestamp('1900-01-01 18:04:59'),
 Timestamp('1900-01-01 12:05:06'),
 Timestamp('1900-01-01 11:31:21'),
 Timestamp('1900-01-01 11:02:37'),
 Timestamp('1900-01-01 10:50:04'),
 Timestamp('1900-01-01 16:44:32'),
 Timestamp('1900-01-01 13:49:06'),
 Timestamp('1900-01-01 10:07:14'),
 Timestamp('1900-01-01 14:46:17'),
 Timestamp('1900-01-01 13:28:20'),
 Timestamp('1900-01-01 15:39:48'),
 Timestamp('1900-01-01 14:45:59'),
 Timestamp('1900-01-01 15:34:27'),
 Timestamp('1900-01-01 15:58:03'),
 Timestamp('1900-01-01 10:09:18'),
 Timestamp('1900-01-01 10:40:27'),
 Timestamp('1900-01-01 09:44:41'),
 Timestamp('1900-01-01 11:11:42'),
 Timestamp('1900-01-01 15:54:44'),
 Timestamp('1900-01-01 15:11:28'),
 Timestamp('1900-01-01 16:08:33'),
 Timestamp('1900-01-01 09:51:41'),
 Timestamp('1900-01-01 10:31:30'),
 Timestamp('1900-01-01 10:20:52'),
 Timestamp('1900-01-01 14:57:11'),
 Timestamp('1900-01-01 10:11:09'),
 Timestamp('1900-01-01 12:10:36'),
 Timestamp('1900-01-01 15:47:46'),
 Timestamp('1900-01-01 15:36:31'),
 Timestamp('1900-01-01 11:23:44'),
 Timestamp('1900-01-01 12:53:04'),
 Timestamp('1900-01-01 10:26:27'),
 Timestamp('1900-01-01 09:08:10'),
 Timestamp('1900-01-01 15:56:55'),
 Timestamp('1900-01-01 12:46:57'),
 Timestamp('1900-01-01 17:25:55'),
 Timestamp('1900-01-01 15:30:39'),
 Timestamp('1900-01-01 14:10:05'),
 Timestamp('1900-01-01 14:01:59'),
 Timestamp('1900-01-01 11:24:23'),
 Timestamp('1900-01-01 12:36:10'),
 Timestamp('1900-01-01 13:35:15'),
 Timestamp('1900-01-01 11:32:08'),
 Timestamp('1900-01-01 17:42:26'),
 Timestamp('1900-01-01 22:51:15'),
 Timestamp('1900-01-01 17:10:31'),
 Timestamp('1900-01-01 16:39:06'),
 Timestamp('1900-01-01 11:43:36'),
 Timestamp('1900-01-01 09:48:45'),
 Timestamp('1900-01-01 16:28:01'),
 Timestamp('1900-01-01 12:55:35'),
 Timestamp('1900-01-01 19:11:06'),
 Timestamp('1900-01-01 13:44:47'),
 Timestamp('1900-01-01 13:05:56'),
 Timestamp('1900-01-01 08:58:31'),
 Timestamp('1900-01-01 13:55:15'),
 Timestamp('1900-01-01 10:26:01'),
 Timestamp('1900-01-01 11:29:15'),
 Timestamp('1900-01-01 21:01:32'),
 Timestamp('1900-01-01 20:12:15'),
 Timestamp('1900-01-01 11:27:09'),
 Timestamp('1900-01-01 18:35:10'),
 Timestamp('1900-01-01 12:35:29'),
 Timestamp('1900-01-01 19:34:13'),
 Timestamp('1900-01-01 10:50:54'),
 Timestamp('1900-01-01 12:24:38'),
 Timestamp('1900-01-01 12:52:21'),
 Timestamp('1900-01-01 11:46:32'),
 Timestamp('1900-01-01 13:42:11'),
 Timestamp('1900-01-01 19:52:25'),
 Timestamp('1900-01-01 16:10:03'),
 Timestamp('1900-01-01 15:19:06'),
 Timestamp('1900-01-01 10:10:00'),
 Timestamp('1900-01-01 14:55:13'),
 Timestamp('1900-01-01 11:56:57'),
 Timestamp('1900-01-01 16:41:59'),
 Timestamp('1900-01-01 12:22:49'),
 Timestamp('1900-01-01 14:02:48'),
 Timestamp('1900-01-01 15:55:53'),
 Timestamp('1900-01-01 09:16:47'),

##เปลี่ยน RowKey phone และ urine เป็น string

In [287]:
alldb_PartitionKey_fillna['RowKey'] = alldb_PartitionKey_fillna['RowKey'].astype('string')
alldb_PartitionKey_fillna['phone'] = alldb_PartitionKey_fillna['phone'].astype('string')
alldb_PartitionKey_fillna['urine'] = alldb_PartitionKey_fillna['urine'].astype('string')

In [288]:
alldb_PartitionKey_fillna.dtypes # เช็คประเภทแต่ละคอลัมน์

user                     int64
RowKey                  string
date            datetime64[ns]
phone                   string
site                     int64
time            datetime64[ns]
urine                   string
ov                      object
PartitionKey             int64
age                     object
title                   object
dtype: object

##ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [289]:
set(alldb_PartitionKey_fillna['ov'])

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

In [290]:
data=alldb_PartitionKey_fillna[alldb_PartitionKey_fillna['ov']=='ติดเชื้อ +2 ']
data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
16931,87374,A838A03E-1327-4720-B689-FD29C78023FD,2022-03-07,"iPhone8,2",5237,1900-01-01 11:50:47,ปกติ (เหลืองใส),ติดเชื้อ +2,187,77,นาง

In [291]:
data_d=alldb_PartitionKey_fillna[alldb_PartitionKey_fillna['ov']!='ติดเชื้อ +2 ']
data_d

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,1900-01-01 16:31:45,ปกติ (เหลืองใส),0,0,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,1900-01-01 14:46:08,ปกติ (เหลืองใส),4,1,47,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,1900-01-01 15:27:45,ปกติ (เหลืองใส),4,1,41,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,1900-01-01 10:16:46,ปกติ (เหลืองใส),3,1,55,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,1900-01-01 12:26:38,ปกติ (เหลืองใส),3,1,66,นาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,1900-01-01 11:36:34,ขุ่น,1,99999,36,นาย
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 18:10:29,มีตะกอน,0,99999,36,นาย
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,36,นาย
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:58:01,ปกติ (เหลืองใส),1,99999,36,นาย
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:57:58,ปกติ (เหลืองใส),1,99999,36,นาย

In [292]:
set(data_d['ov'])

{'0', '1', '2', '3', '4'}

In [293]:
data_d.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
age              True
title            True
dtype: bool

##แก้ค่า title age

In [294]:
set(data_d['title'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 nan,
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [295]:
data_d_re = data_d.replace({'  นาง':'หญิง', ' นาง':'หญิง', ' นางสาว':'หญิง',  ' นาย':'ชาย', 'Mrs':'หญิง',
                                            'ชาย':'ชาย', 'ด.ช.':'ชาย', 'ด.ญ.':'หญิง',  'ด.ต.':'ไม่ระบุ', 
                                             'น':'ชาย', 'น.ส':'หญิง', 'น.ส ':'หญิง', 'น.ส.':'หญิง', 'นส':'หญิง',
                                            'นส.':'หญิง',  'นาง.':'หญิง', 'นาง ':'หญิง',  'นาง':'หญิง', 'นส. ':'หญิง',
                                             'นางl':'หญิง', 'นางสาว':'หญิง',  'นางสาว ':'หญิง', 'นางสาว                   ':'หญิง',  'นาน':'ชาย',
                                            'นาว':'หญิง', 'นาย  ':'ชาย', 'นาย ':'ชาย', 'นาย':'ชาย',  'นาบ':'ชาย',
                                            'นาวสาว':'หญิง',  'นา่ง':'หญิง', 'น่าย':'ชาย',  'พจอ.':'ไม่ระบุ', 'พระ':'ชาย',
                                             'พระครุ':'ชาย', 'พระปลัด':'ชาย', 'พลฯ':'ไม่ระบุ',  'ร.ต.':'ไม่ระบุ', 'ร.ต.ต.':'ไม่ระบุ',
                                             'ว่าที่ ร.ท.':'ไม่ระบุ', 'ว่าที่ ร.ต.':'ไม่ระบุ', 'รต.':'ไม่ระบุ', 'ร.ต.อ.':'ไม่ระบุ', 'ร.ต.ท.':'ไม่ระบุ',
                                            'ว่าที่ร้อยตรี':'ไม่ระบุ', 'ส.อ.':'ไม่ระบุ',  'ืนาง':'หญิง', 'เด็กชาย':'ชาย', 'เด็กหญิง':'หญิง'})
data_d_re

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,1900-01-01 16:31:45,ปกติ (เหลืองใส),0,0,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,1900-01-01 14:46:08,ปกติ (เหลืองใส),4,1,47,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,1900-01-01 15:27:45,ปกติ (เหลืองใส),4,1,41,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,1900-01-01 10:16:46,ปกติ (เหลืองใส),3,1,55,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,1900-01-01 12:26:38,ปกติ (เหลืองใส),3,1,66,ชาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,1900-01-01 11:36:34,ขุ่น,1,99999,36,ชาย
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 18:10:29,มีตะกอน,0,99999,36,ชาย
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,36,ชาย
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:58:01,ปกติ (เหลืองใส),1,99999,36,ชาย
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:57:58,ปกติ (เหลืองใส),1,99999,36,ชาย

In [296]:
data_d_re[['title']]=data_d_re[['title']].fillna('ไม่ระบุ')

In [297]:
data_d_re

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,1900-01-01 16:31:45,ปกติ (เหลืองใส),0,0,NaN,ไม่ระบุ
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,1900-01-01 14:46:08,ปกติ (เหลืองใส),4,1,47,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,1900-01-01 15:27:45,ปกติ (เหลืองใส),4,1,41,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,1900-01-01 10:16:46,ปกติ (เหลืองใส),3,1,55,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,1900-01-01 12:26:38,ปกติ (เหลืองใส),3,1,66,ชาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,1900-01-01 11:36:34,ขุ่น,1,99999,36,ชาย
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 18:10:29,มีตะกอน,0,99999,36,ชาย
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,36,ชาย
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:58:01,ปกติ (เหลืองใส),1,99999,36,ชาย
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:57:58,ปกติ (เหลืองใส),1,99999,36,ชาย

In [298]:
set(data_d_re['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [299]:
set(data_d_re['age'])

{'-233',
 '-29',
 '-32',
 '-37',
 '-5441',
 '-5789',
 '0',
 '1',
 '10',
 '1052',
 '11',
 '12',
 '127',
 '13',
 '138',
 '14',
 '15',
 '151',
 '16',
 '17',
 '18',
 '19',
 '20',
 '2030',
 '2046',
 '2051',
 '2057',
 '2063',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '312',
 '315',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '507',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '590',
 '591',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '97',
 nan}

In [300]:
data_d_re[['age']]=data_d_re[['age']].fillna('ไม่ระบุ')

In [301]:
data_d_re = data_d_re.replace({ '1':'10', '0':'10','151':'15',  '138':'13',  '127':'12', '1052':'10', '-5789':'ไม่ระบุ', '-5441':'ไม่ระบุ', '-37':'ไม่ระบุ', '-32':'ไม่ระบุ', '-29':'ไม่ระบุ','-233':'ไม่ระบุ',
                                                '2030':'20', '2046':'20', '2051':'20', '2057':'20', '2063':'20',
                                                '312':'31', '315':'31', '507':'50', '590':'59', '591':'59', })
data_d_re

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,1900-01-01 16:31:45,ปกติ (เหลืองใส),10,0,ไม่ระบุ,ไม่ระบุ
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,1900-01-01 14:46:08,ปกติ (เหลืองใส),4,1,47,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,1900-01-01 15:27:45,ปกติ (เหลืองใส),4,1,41,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,1900-01-01 10:16:46,ปกติ (เหลืองใส),3,1,55,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,1900-01-01 12:26:38,ปกติ (เหลืองใส),3,1,66,ชาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,1900-01-01 11:36:34,ขุ่น,10,99999,36,ชาย
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 18:10:29,มีตะกอน,10,99999,36,ชาย
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 12:14:41,"ขุ่น, มีเม็ดเลือดแดง",10,99999,36,ชาย
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:58:01,ปกติ (เหลืองใส),10,99999,36,ชาย
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:57:58,ปกติ (เหลืองใส),10,99999,36,ชาย

In [302]:
set(data_d_re['age'])

{'10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '97',
 'ไม่ระบุ'}

In [303]:
data_d_re.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
age             False
title           False
dtype: bool

In [304]:
alldb_new = data_d_re
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,age,title
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,1900-01-01 16:31:45,ปกติ (เหลืองใส),10,0,ไม่ระบุ,ไม่ระบุ
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,1900-01-01 14:46:08,ปกติ (เหลืองใส),4,1,47,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,1900-01-01 15:27:45,ปกติ (เหลืองใส),4,1,41,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,1900-01-01 10:16:46,ปกติ (เหลืองใส),3,1,55,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,1900-01-01 12:26:38,ปกติ (เหลืองใส),3,1,66,ชาย
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,1900-01-01 11:36:34,ขุ่น,10,99999,36,ชาย
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 18:10:29,มีตะกอน,10,99999,36,ชาย
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 12:14:41,"ขุ่น, มีเม็ดเลือดแดง",10,99999,36,ชาย
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:58:01,ปกติ (เหลืองใส),10,99999,36,ชาย
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,1900-01-01 13:57:58,ปกติ (เหลืองใส),10,99999,36,ชาย

#Load data hospital

In [305]:
data_file_path1 = os.path.join(path,'hospital_list.xlsx') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
data_hos = pd.read_excel(data_file_path1)

In [306]:
data_hos

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [307]:
data_hosnew = data_hos[['hcode','name','zone_name','province','amphur','tambon','name5']] 
data_hosnew

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [308]:
data_hosnew.isnull().any() # ตรวจสอบหาค่า missing

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool

In [309]:
hospital= data_hosnew[(data_hosnew['hcode'].astype(str).str.isdigit()) & (data_hosnew['hcode'].str.len() == 5)] 
hospital

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [310]:
hospital.isnull().any()

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool